KALSHI_BOT_API_KEY_ID=
KALSHI_BOT_PRIVATE_KEY_PATH=
KALSHI_BOT_ORDER_SUBMISSION_ENABLED=false
KALSHI_BOT_ORDER_CANCELLATION_ENABLED=false
KALSHI_BOT_DEMO_ORDER_TICKER=
KALSHI_BOT_DEMO_ORDER_COUNT=
KALSHI_BOT_DEMO_ORDER_PRICE=
KALSHI_BOT_DEMO_MARKET_TICKER=
KALSHI_BOT_DEMO_QUOTE_QUANTITY=
KALSHI_BOT_DEMO_MAX_CYCLES=1
KALSHI_BOT_DEMO_POLL_INTERVAL_SECONDS=0
KALSHI_BOT_DEMO_MAX_OBSERVED_AGE_SECONDS=30
KALSHI_BOT_DEMO_MAX_MARKET_EXPOSURE_DOLLARS=5.00
KALSHI_BOT_DEMO_MIN_AVAILABLE_BALANCE_DOLLARS=10.00